@charset "UTF-8";
@font-face {
  font-family: "rubik";
  src: url(../fonts/Rubik-VariableFont_wght.ttf);
}
*,
*::before,
*::after,
*:visited {
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  color: rgb(241, 241, 241);
  margin: 0;
  scroll-behavior: smooth;
  overflow-x: hidden;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  background-color: rgb(47, 47, 47);
}
body .page-max-width {
  max-width: 2000px;
  margin: 0 auto;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font-family: "rubik", Verdana;
}

p,
h1,
h2,
h3,
h4,
h5,
h6,
li,
a {
  text-wrap: pretty;
  font-family: "rubik", Verdana;
}

#root,
#__next {
  isolation: isolate;
}

/*******************************/
h4 {
  font-size: 1.3rem;
}

.bold {
  font-weight: 800;
}

.centered {
  text-align: center;
  justify-content: center;
  align-items: center;
  align-content: center;
  margin: 0 auto;
}

.icon {
  color: rgb(23, 20, 21);
  font-size: 1.4rem;
}

.moreBtn {
  background: rgb(23, 20, 21);
  color: rgb(241, 241, 241);
  padding: 0.5rem 1.2rem;
  border-radius: 99rem;
  transition: 0.2s;
}
.moreBtn:hover {
  padding: 0.6rem 1.4rem;
  color: rgb(23, 20, 21);
  background: rgb(241, 241, 241);
  font-size: 1.1rem;
}

#scroll-btn, .down {
  position: absolute;
  bottom: 2rem;
  font-size: 1.5rem;
  color: rgb(241, 241, 241);
  padding: 0.5rem;
  border-radius: 99rem;
  transition: 180ms ease-in-out;
  transform: translateX(-50%);
  left: 50%;
}
#scroll-btn:hover, .down:hover {
  cursor: pointer;
  background: red;
  color: rgb(47, 47, 47);
}
@media only screen and (max-height: 925px) {
  #scroll-btn, .down {
    display: none;
  }
}
@media screen and (max-width: 768px) {
  #scroll-btn, .down {
    display: none;
  }
}

header {
  min-height: 70vh;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}
header #navbar {
  display: flex;
  justify-content: center;
  width: 100%;
  max-width: 2000px;
  background: rgb(47, 47, 47);
  height: 5rem;
  transition: 0.2s ease;
  position: fixed;
  z-index: 999;
}
@media only screen and (max-height: 925px) {
  header #navbar {
    display: none;
  }
}
@media screen and (max-width: 768px) {
  header #navbar {
    display: none;
  }
}
header #navbar ul {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 50%;
  height: 100%;
  margin: auto 1rem;
}
header #navbar ul li {
  position: relative;
  transition: 0.3s ease-out;
}
header #navbar ul li .nav-element {
  font-size: 1.2rem;
  letter-spacing: 1px;
  color: rgb(241, 241, 241);
}
header #navbar ul li:after {
  content: "";
  position: absolute;
  height: 3px;
  width: 100%;
  background: rgb(255, 27, 39);
  top: 1.5rem;
  left: 0;
  transform: scaleX(0);
  transform-origin: bottom right;
  transition: 0.25s ease-out;
  visibility: hidden;
}
header #navbar ul li:not(:last-of-type):hover:after {
  visibility: visible;
  transform: scaleX(1);
  transform-origin: bottom right;
}
header .section1 {
  height: 70vh;
  max-width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  justify-items: center;
  background: url(/assets/img/augu-mecha.webp) center/cover;
  padding: 5rem 0 5rem 0;
  position: relative;
}
@media only screen and (max-height: 925px) {
  header .section1 {
    padding: 0;
  }
}
@media only screen and (max-height: 500px) {
  header .section1 {
    display: grid;
    grid-template-columns: 55% 45%;
    row-gap: 3rem;
    grid-template-areas: "a1 a2" "a1 a3";
    padding: 0 0 0;
    margin: 0;
    align-content: center;
  }
}
@media only screen and (max-width: 880px) and (max-height: 500px) {
  header .section1 {
    grid-template-areas: "a1 a2" "a3 a3";
  }
}
@media screen and (max-width: 768px) {
  header .section1 {
    padding: 0;
  }
}
@media screen and (max-height: 400px) {
  header .section1 {
    padding: 0;
  }
}
header .section1 #logo {
  width: 40rem;
  min-height: 5rem;
  height: 15rem;
  border-radius: 1rem;
  background: url(/assets/img/logogarage.svg) center/cover;
  grid-area: a1;
}
@media only screen and (max-height: 925px) {
  header .section1 #logo {
    width: 30rem;
    min-height: 5rem;
    height: 13rem;
    margin: 0 0 0 0;
  }
}
@media screen and (max-width: 880px) {
  header .section1 #logo {
    width: 100%;
    max-width: 30rem;
    height: 12rem;
    min-height: 9rem;
    border-radius: 0.5rem;
    margin-bottom: 2rem;
  }
}
@media only screen and (max-width: 880px) and (max-height: 500px) {
  header .section1 #logo {
    width: 100%;
    height: 100%;
    margin: 1rem 0 0 1rem;
  }
}
@media screen and (max-width: 510px) {
  header .section1 #logo {
    max-width: 20rem;
    min-height: 7rem;
    height: 9rem;
    width: 100%;
  }
}
@media screen and (max-width: 350px) {
  header .section1 #logo {
    max-width: 18rem;
    min-height: 5rem;
    height: 7rem;
  }
}
header .section1 p {
  color: rgb(241, 241, 241);
  font-size: 4rem;
  margin: 0 3rem;
  max-width: 12ch;
  grid-area: a2;
  text-shadow: 0 0 3px #000;
}
@media screen and (max-width: 1200px) {
  header .section1 p {
    font-size: 3rem;
    margin: 0;
  }
}
@media screen and (max-height: 925px) {
  header .section1 p {
    font-size: 2.4rem;
    margin: 0;
  }
}
@media only screen and (max-width: 880px) and (max-height: 500px) {
  header .section1 p {
    font-size: 2rem;
  }
}
@media screen and (max-width: 580px) {
  header .section1 p {
    max-width: 12ch;
  }
}
@media screen and (max-width: 430px) {
  header .section1 p {
    font-size: 2rem;
    margin: 0 1rem;
  }
}
header .section1 .welcome-image {
  max-width: 39rem;
  width: 50%;
  min-width: 20rem;
}
@media only screen and (max-height: 925px) {
  header .section1 .welcome-image {
    display: none;
  }
}
header .section1 .main-button {
  border-radius: 4px;
  background-color: rgb(255, 27, 39);
  letter-spacing: 0.5px;
  border: none;
  color: rgb(241, 241, 241);
  text-align: center;
  font-size: 1.2rem;
  padding: 1rem 0 1rem 0;
  width: 20rem;
  box-shadow: 0 10px 20px -8px rgba(0, 0, 0, 0.7);
  display: inline-block;
  position: relative;
  transition: 0.3s;
  grid-area: a3;
}
@media screen and (max-height: 840px) {
  header .section1 .main-button {
    margin: 0;
  }
}
@media screen and (max-width: 768px) {
  header .section1 .main-button {
    margin-top: 2rem;
  }
}
@media only screen and (max-width: 880px) and (max-height: 500px) {
  header .section1 .main-button {
    margin: 0;
  }
}
@media screen and (max-width: 330px) {
  header .section1 .main-button {
    display: flex;
    flex-direction: column;
    max-width: 13ch;
    text-align: center;
  }
}
header .section1 .main-button:after {
  content: "↴";
  position: absolute;
  font-size: 2.5rem;
  color: rgb(241, 241, 241);
  opacity: 0;
  top: -0.1rem;
  left: 85%;
  transition: 0.3s ease-out;
}
@media screen and (max-width: 330px) {
  header .section1 .main-button:after {
    display: none;
  }
}
header .section1 .main-button:hover {
  text-indent: -1.6rem;
}
@media screen and (max-width: 330px) {
  header .section1 .main-button:hover {
    text-indent: 0;
  }
}
header .section1 .main-button:hover:after {
  opacity: 1;
  text-indent: 0.5rem;
}
header .section1 #scroll-btn {
  position: absolute;
  bottom: 2rem;
  font-size: 1.5rem;
  color: rgb(241, 241, 241);
  padding: 0.5rem;
  border-radius: 99rem;
  transition: 180ms ease-in-out;
  transform: translateX(-50%);
  left: 50%;
}
header .section1 #scroll-btn:hover {
  cursor: pointer;
  background: red;
  color: rgb(47, 47, 47);
}
@media only screen and (max-height: 925px) {
  header .section1 #scroll-btn {
    display: none;
  }
}
@media screen and (max-width: 768px) {
  header .section1 #scroll-btn {
    display: none;
  }
}

.servicesV2 {
  min-height: 50rem;
  margin: 2rem 2rem 0;
}
.servicesV2 h2 {
  font-size: 3rem;
  margin-bottom: 2rem;
}
.servicesV2 .container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(30rem, 1fr));
  justify-items: center;
  gap: 1rem;
}
.appointment {
  margin-top: 2rem;
}
.appointment h2 {
  font-size: 3rem;
  margin-bottom: 2rem;
}
.appointment .contact {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 3rem;
  min-height: 20rem;
}
.appointment .contact .schedule {
  display: flex;
  flex-direction: column;
}
.appointment .contact .schedule .days {
  max-width: 12rem;
}
.appointment .contact .schedule .days .day {
  display: flex;
  gap: 1rem;
  justify-content: space-between;
}
.appointment .contact .schedule .days .except {
  margin-top: 0.5rem;
}
.appointment .contact .info-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.appointment .contact .info-container .address {
  display: flex;
  flex-direction: column;
  height: auto;
}
.appointment .contact .info-container .address a {
  background: rgb(255, 27, 39);
  width: 100%;
  padding: 0.5rem 0;
  display: flex;
  justify-content: center;
  border-radius: 0.5rem;
  transition: 0.3s ease;
  font-size: 1.1rem;
  font-weight: 600;
  gap: 0.5rem;
  align-items: center;
}
.appointment .contact .info-container .address a:hover {
  filter: brightness(70%);
}
.appointment .contact .info-container .phone h4 {
  margin-top: 0.6rem;
}
.appointment .contact .info-container .phone #whatsappImg {
  width: 100%;
  min-width: 10rem;
  height: 3rem;
  transition: 0.3s ease;
}
.appointment .contact .info-container .phone #whatsappImg:hover {
  filter: brightness(70%);
}
.appointment .contact .mail h4 {
  margin-top: 0.6rem;
}
.appointment .contact .mail #mailBtn {
  background: rgb(255, 27, 39);
  width: 100%;
  padding: 0.5rem 0;
  display: flex;
  justify-content: center;
  border-radius: 0.5rem;
  transition: 0.3s ease;
  font-size: 1.1rem;
  font-weight: 600;
  gap: 0.5rem;
  align-items: center;
}
.appointment .contact .mail #mailBtn:hover {
  filter: brightness(70%);
}
.appointment .contact .payment {
  display: flex;
  flex-direction: column;
  text-align: center;
}
@media screen and (max-width: 900px) {
  .appointment .contact .payment {
    margin: 0 1rem;
  }
}
.appointment .contact .payment .payment-methods {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(5.1rem, 1fr));
  align-items: center;
}
.appointment .contact .payment .payment-methods .euroNote {
  filter: invert(48%) sepia(79%) saturate(2476%) hue-rotate(90deg) brightness(80%) contrast(119%);
}

footer {
  height: 5rem;
  position: relative;
}/*# sourceMappingURL=index.css.map */