header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;

  #navbar {
    display: flex;
    justify-content: center;
    width: 100%;
    background: $black2;
    box-shadow: 0 0 3px #333;
    height: 5rem;
    transition: 0.2s ease;
    position: fixed;
    z-index: 999;

    @media screen and (max-width: 768px) {
      display: none;
    }

    ul {
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      width: 50%;
      height: 100%;
      margin: auto 1rem;

      li {
        position: relative;
        transition: 0.3s ease-out;
        .nav-element {
          font-size: 1.2rem;
          letter-spacing: 1px;
          color: $white1;
        }
        &:after {
          content: "";
          position: absolute;
          height: 3px;
          width: 100%;
          background: $redTheme;
          top: 1.5rem;
          left: 0;
          transform: scaleX(0);
          transform-origin: bottom right;
          transition: 0.25s ease-out;
          visibility: hidden;
        }

        &:not(:last-of-type):hover:after {
          visibility: visible;
          transform: scaleX(1);
          transform-origin: bottom right;
        }

        #facebook-btn {
          color: black;
          background-color: red;
        }
      }
    }
  }

  .first-sight {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: url(/assets/img/augu-mecha.webp) center/cover;
    padding: 5rem 0 0 0;

    @media screen and (max-width: 768px) {
      background: $black2;

    }

    .bg-phone {
      @media screen and (max-width: 768px) {
        background: url(/assets/img/logo2.png) center/cover;
        width: 100%;
        max-width: 25rem;
        height: 8rem;
        min-height: 8rem;
      }
    }

    #logo {
      min-width: 20rem;
      width: 40rem;
      min-height: 5rem;
      height: 15rem;
      border-radius: 1rem;
      background: url(/assets/img/logo2.png) center/cover;

      @media screen and (max-width: 768px), screen and (max-height: 700px) {
        display: none;
      }
    }

    h1 {
      color: $white1;
      margin: 0 1rem;
      font-size: 3.3rem;
      @media screen and (max-width: 768px) {
        font-size: 2.5rem;
        margin: 1rem 0.5rem 0 0;
      }
    }
    p {
      color: $white1;
      font-size: 2rem;
      margin: 1rem 0 3rem;
    }

    .main-button {
      border-radius: 4px;
      background-color: $redTheme;
      letter-spacing: 0.5px;
      border: none;
      color: $white1;
      text-align: center;
      font-size: 1.2rem;
      padding: 1rem 0 1rem 0;
      width: 20rem;
      margin: 3rem 0 0 0;
      box-shadow: 0 10px 20px -8px rgba(0, 0, 0, 0.7);
      display: inline-block;
      position: relative;
      transition: 0.3s;


      &:after {
        content: "↴";
        position: absolute;
        font-size: 2.5rem;
        color: $white1;
        opacity: 0;
        top: -0.1rem;
        left: 85%;
        transition: 0.3s ease-out;
      }

      &:hover {
        text-indent: -1.6rem;
      }

      &:hover:after {
        opacity: 1;
        text-indent: 0.5rem;
      }
    }
  }
}
