@font-face {
  font-family: "rubik";
  src: url(../fonts/Rubik-VariableFont_wght.ttf);
}

$font1: "rubik", Verdana;
$black1: rgb(23, 20, 21);
$black2: rgb(47, 47, 47);
$white1: rgb(241, 241, 241);
$white2: rgb(230, 230, 230);
$redTheme: rgb(255, 27, 39);
$lighterRed: rgba(253, 99, 106, 0.858);

*,
*::before,
*::after,
*:visited {
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  color: $white1;
  margin: 0;
  scroll-behavior: smooth;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
input,
button,
textarea,
select {
  font-family: $font1;
}
p,
h1,
h2,
h3,
h4,
h5,
h6,
li,
a {
  text-wrap: pretty;
  font-family: $font1;
}
#root,
#__next {
  isolation: isolate;
}
/*******************************/

.bold {
  font-weight: 900;
}

.centered {
  text-align: center;
  justify-content: center;
  align-items: center;
  align-content: center;
  margin: 0 auto;
}

.icon {
  color: $black1;
  font-size: 1.4rem;
}

.moreBtn {
  background: $black1;
  color: $white1;
  padding: 0.5rem 1.2rem;
  border-radius: 99rem;
  transition: 0.2s;

  &:hover {
    padding: 0.6rem 1.4rem;
    color: $black1;
    background: $white1;
    font-size: 1.1rem;
  }
}
