@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;600;700;800;900&display=swap");
*,
*::before,
*::after {
  box-sizing: border-box;
  font-family: "Raleway", Verdana;
}

* {
  margin: 0;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

#root,
#__next {
  isolation: isolate;
}

/*******************************/
.bold {
  font-weight: 700;
}

.description {
  color: rgba(32, 32, 32, 0.596);
}

.text-center {
  text-align: center;
}

.page-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 2rem;
}
.page-container .header {
  display: grid;
  align-content: center;
  text-align: center;
  justify-items: center;
  min-height: 10rem;
}
@media screen and (max-width: 767px) {
  .page-container .header {
    margin-top: 2rem;
  }
}
.page-container .header h1 {
  font-size: 3.5rem;
}
@media screen and (max-width: 767px) {
  .page-container .header h1 {
    font-size: 2.8rem;
    line-height: 3rem;
  }
}
.page-container .header p {
  font-size: 1.3rem;
  font-weight: 600;
}
.page-container .header .choice {
  min-width: 12rem;
  max-width: 12rem;
  height: 3.2rem;
  margin: 1rem 0;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
.page-container .header .choice .radio-group {
  display: flex;
  gap: 2px;
  justify-content: space-evenly;
  align-items: center;
  height: 3.2rem;
  border-radius: 10px;
  background-color: rgba(219, 219, 219, 0.479);
  color: rgba(32, 32, 32, 0.596);
}
.page-container .header .choice .radio-group input[type=radio] {
  display: none;
}
.page-container .header .choice .radio-group input[type=radio]:checked + label {
  border-radius: 5px;
  border: none;
  box-shadow: 0 0px 1px 2px rgba(0, 0, 0, 0.356);
  background-color: rgb(114, 0, 245);
  color: rgb(238, 238, 238);
}
.page-container .header .choice .radio-group label {
  cursor: pointer;
  font-weight: 600;
  width: 46%;
  height: 85%;
  display: grid;
  align-content: center;
}
.page-container .plans-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
  min-width: 70%;
  max-width: 100%;
  margin: 3rem 0;
}
@media screen and (max-width: 1000px) {
  .page-container .plans-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 1rem;
    margin: 1rem 0;
  }
}
.page-container .plans-container .plan-tile {
  min-width: 17rem;
  max-width: 20rem;
  margin: 0 1rem;
  box-shadow: 0 4px 11px 2px rgba(0, 0, 0, 0.062);
  border-radius: 10px;
}
@media screen and (max-width: 1000px) {
  .page-container .plans-container .plan-tile {
    min-width: 90%;
    max-width: 90%;
  }
}
.page-container .plans-container .plan-tile .plan {
  min-height: 100%;
  background: rgba(219, 219, 219, 0.479);
  border-radius: 10px;
}
.page-container .plans-container .plan-tile .plan .pricing-part {
  min-height: 20%;
  margin-bottom: 1rem;
  background: white;
  padding-bottom: 0.8rem;
  border-radius: 10px 10px 0 0;
}
.page-container .plans-container .plan-tile .plan .pricing-part .plan-name {
  font-size: 2rem;
}
.page-container .plans-container .plan-tile .plan .pricing-part .description {
  max-width: 25ch;
  margin: 0 auto;
  min-height: 3rem;
}
@media screen and (max-width: 1000px) {
  .page-container .plans-container .plan-tile .plan .pricing-part .description {
    max-width: 50ch;
    min-height: auto;
  }
}
.page-container .plans-container .plan-tile .plan .pricing-part .price {
  display: flex;
  justify-content: center;
  align-items: center;
}
.page-container .plans-container .plan-tile .plan .pricing-part .price #price {
  font-size: 3rem;
  position: relative;
}
@media screen and (max-width: 360px) {
  .page-container .plans-container .plan-tile .plan .pricing-part .price #price {
    font-size: 2rem;
  }
}
.page-container .plans-container .plan-tile .plan .pricing-part .price #price::before {
  content: "$";
  position: absolute;
  font-size: 1.7rem;
  top: 10px;
  left: -16px;
}
@media screen and (max-width: 360px) {
  .page-container .plans-container .plan-tile .plan .pricing-part .price #price::before {
    font-size: 1rem;
    left: -10px;
  }
}
.page-container .plans-container .plan-tile .plan .pricing-part .price p:not(#price) {
  font-size: 0.7rem;
  margin-left: 0.5rem;
}
.page-container .plans-container .plan-tile .plan .pricing-part .button {
  cursor: pointer;
  width: 85%;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  color: rgb(238, 238, 238);
  background: rgb(114, 0, 245);
  border-radius: 5px;
  border: none;
  box-shadow: 0 0px 8px 1px rgba(0, 0, 0, 0.53);
  transition: 0.3s;
}
.page-container .plans-container .plan-tile .plan .pricing-part .button:hover {
  transform: scale(105%);
}
.page-container .plans-container .plan-tile .plan .plan-content ul {
  display: flex;
  flex-direction: column;
  align-items: start;
}
.page-container .plans-container .plan-tile .plan .plan-content ul li {
  text-align: left;
  margin: 0.1rem;
}
.page-container .plans-container .plan-tile .plan .plan-content ul li::marker {
  color: rgb(114, 0, 245);
}/*# sourceMappingURL=index.css.map */